body { background: #cb3503; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 33px; display: flex; }
.block-invoice-0 { color: #72ffaa; font-size: 14px; margin-bottom: 5px; }
.block-cluster-1 { color: #3018f2; font-size: 13px; margin-bottom: 5px; }
.block-email-2 { color: #397271; font-size: 15px; margin-bottom: 5px; }
.block-uploader-3 { color: #c953dd; font-size: 20px; margin-bottom: 5px; }
.block-uploader-4 { color: #8cb7da; font-size: 18px; margin-bottom: 5px; }